<form method="post">
<h2>Люди, которым не выставлен счёт за месяц по указанному типу</h2>
<div class="list-group-item" style="width: 18rem;">
  <label for="mon">Месяц выставления счёта</label>
  <select class="form-control" id="mon" name="mon">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option> 
    <option>11</option>
    <option>12</option>
  </select>
</div>
<div class="form-group">
  <label for="kind">Вид счета</label>
  <select id="kind" name="kind" class="list-group-item" style="width: 18rem;">
    <option>Rent</option>
    <option>Electric power</option>
    <option>Telephone</option>
  </select>
</div>
<button type="submit" class="btn btn-outline-primary" style="padding: 15px;">Показать</button> 
</form>