<h2>Все счета человека</h2>
<form method="post">
  <div class="form-row">
    <div class="list-group-item" style="width: 18rem;">
      <label for="name">Имя</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Имя">
    </div>
    <div class="list-group-item" style="width: 18rem;">
      <label for="lastn">Фамилия</label>
      <input type="text" class="form-control" id="lastn" name="lastn" placeholder="Фамилия">
    </div>
    <div class="list-group-item" style="width: 18rem;">
      <label for="patr">Отчество</label>
      <input type="text" class="form-control" id="patr" name="patr" placeholder="Отчество">
    </div>
  </div>
  <button type="submit" class="btn btn-outline-primary" style="padding: 15px;">Показать все счета человека</button>
  <% if @errors %>
    <%= @errors %>
  <% end %>
</form>